
<p>
<%= label_tag(:description, "Company Description: ") %><%= @company_information.description%><br/><br/>
<%= label_tag(:founded, "Founded: ") %><%= @company_information.founded%><br/><br/>
<%= label_tag(:emp_no, "Employee Number: ") %><%= @company_information.employee_number%><br/><br/>
<%= label_tag(:url, "URL: ") %><%= @company_information.url%>
</p>

