<ul class="tabselector">
    <li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("SITE WIDE", "/admin/content/site") %>
    </li>
	<li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("HOME PAGE", "/admin/content/home") %>
    </li>
	<li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("NEWS", "/admin/content/news") %>
    </li>
        <li class="tab-selected">
        <%= link_to_unless_current_heirarchy ("TICKERS", "/admin/content/tickers") %>
    </li>
	<li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("PROMOTIONS", "/admin/content/promotions") %>
    </li>
	<li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("MAIL & SMS TEMPLATES", "/admin/notification_templates") %>
    </li>
</ul>
<table width="1000">
<tr>
<td valign="top">
    <br><span style="font-family: arial; font-size: 18px; font-weight: bold; text-transform: uppercase; padding-right:15px;">Ticker</span>
    <!--<img src="/images/MYFRESHPROMOS.gif" height="34" width="273">!-->
    <%= link_to_lightbox 'New', new_ticker_path, :class => 'action new' if logged_in? && current_user.has_role?('content') %>
    <br>
    <br>
    </td>
</tr>

<% for ticker in @tickers %>
    <tr class="<%= cycle('light-blue', 'light-green', :name => "order_class") %>"><td><br>
        <span class="subtitleGreen" style="color: #9ACD34; font-family: arial; font-size: 18px; bold; text-transform: uppercase;"><%= ticker.title %><br/><br/></span>
        <span class="right_nav_links_text">By A Admin | <%= format_date(ticker.created_at.to_date) %>| <%= format_date(ticker.expiry.to_date) %>
        <%= link_to_lightbox 'Edit', edit_ticker_path(ticker), :class => 'action edit' if logged_in? && current_user.has_role?('content') %>
        <%= link_to '&nbsp;', ticker, :confirm => 'Are you sure?', :method => :delete, :class => 'action delete' if logged_in? && current_user.has_role?('content') %> 
        <br/>
        <div>
              <%= simple_format(ticker.body)%>
        </div>
    </td></tr>
<% end %>
</table>

