<h1>Listing draft_reviews</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Accepted</th>
    <th>Processed</th>
    <th>Date Created</th>
    <th>Date Updated</th>
  </tr>

<% @draft_reviews.each do |draft_review| %>
  <tr>
    <td><%=h draft_review.company.name %></td>
    <td><%=h draft_review.accepted %></td>
    <td><%=h draft_review.processed %></td>
    <td><%=h draft_review.created_at %></td>
    <td><%=h draft_review.updated_at %></td>
    <td><%= link_to 'Show', draft_review %></td>

  </tr>
<% end %>
</table>

<br />
