
 

 
		<div id="wrap"> 
			<div class="floatedL"> 
<h3> Welcome to Health 2.0 Advisors</h3><p>
Health 2.0 Advisors is the consulting and market intelligence arm of the Health 2.0 group of companies. Health 2.0 is changing how healthcare choices are made and how (and where) healthcare is delivered. We are here to help organizations of all sizes and industries to take advantage of Health 2.0-related innovations in ways that fit with the organization's objectives.</p><p>
How do we do that: Recognizing that different organizations have different needs, we create multiple ways for organizations to tap into our market intelligence and strategic advisory capabilities:</p>
<h4>Market Intelligence</h4><ul><li> 
<i>Database access. </i>We are developing the largest database of Health 2.0 companies, organizations, technologies, and news. We'll be making this available in 2010 to companies and individuals  
</li><li><i>Analytics.</i>We will be adding the ability for power users to do custom analysis of data early in 2011</li></ul></p>
<h4>Consulting services</h4><ul><li>
<i>Custom Consulting Projects-</i> <br>&nbsp;&nbsp;&nbsp;Examples include:<ul><li>
Growth strategies for Health 2.0 companies -  what opportunities to focus on first, which companies to partner with, etc.
</li><li>Portfolio strategies for companies wanting to take advantage of health 2.0 innovation to improve their performance, customer experience, etc.
</li><li>Strategies to respond to Health 2.0 changes to their business, e.g. how does mobile / unplatforms change our business model, what parts of our business are likely to be impacted now vs later, etc.
</li><li>Changing engagement: how should/can pharma companies relate differently to patients and physicians as a result of Health 2.0?
</ul></li><li>
<i>Video-workshops-</i> short, intense sessions that address very sepcific or time-sensitive questions to help you move the needle immediatley</li>
<li><i>Cross-fires</i> 360 degrees feedback from experts on your new product launch plans, etc.</li>
<li><i>Executive Bootcamps-</i> when you have to make complex trade-offs under time-pressure or when different parts of the organization need to get on the same page</li></ul>
<h4>Publications</h4>
<ul><li>Our first publication is <b><i>The Past and Future of Health 2.0-</i></b>  a comprehensive overview of key developments in Health 2.0 so far, a take on what that means for organizations, and a view of what lies ahead</li>
<li>Future publications are expected to have a narrower focus, but dig deeper</li>
</ul>
If you want to explore how we can work together, please contact us at marco.smit@health2advisors.com or call us on 650-352-2578.

			</div> 
			<div class="floatedR"> 
 
		
<table><td><tr>			
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :email %><br />
  <%= f.text_field :login %><br />

  <%= f.label :password %><br />
  <%= f.password_field :password %><br />

  <table><tr><td>
  <%= f.submit "Login" %>
  </td><td>
 
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br>  <%= link_to "Forgot Password", :controller => "users", :action => "forgot_password" %>
  </td>
  </tr>
  </table>

<% end %>
</tr></td></table>
 	<p>The database of Health 2.0 companies will become accessible to subscribers later in 2010. There will be multiple database releases. If you are interested in learning about the database  releases as they become available, please sign up here: marco.smit@health2advisors.com</p>
 

						<object width="345" height="259"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=3398191&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=cccccc&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=3398191&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=cccccc&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="345" height="259"></embed></object> 
				<img src="http://images.vimeo.com/19/88/84/198884401/198884401_100.jpg" width="115" /><img src="http://images.vimeo.com/19/88/76/198876235/198876235_100.jpg" width="115" /><img src="http://images.vimeo.com/22/61/41/226141034/226141034_100.jpg" width="115" /> 
<br><br>
<h3>This Site - What to expect</h3>

In the coming weeks and months, you will see content appearing on this site:<br><ul><li>
Featured communities -  Innovative patient communities, patient communities who stand out</li> 
<li>Segment analysis  - The database of companies has our proprietary segmentation embedded in it, which allows snapshots and high-level analysis of trends and developments within the 19 segments and across these segments </li>
<li>Company news: we will feature regular news updates of Health 2.0 companies and communities
More to come</li>

			</div> 

 
	 
			<div id="homecenter"> 
				<div class="floatedL"> 
					<form action="#" method="post"> 
              		 

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;					</form> 
				</div> 
				<div class="floatedR"> 
					<form action="#" method="post"> 
              	&nbsp; 
&nbsp;&nbsp;&nbsp;					</form> 
				</div> 
			</div> 
			<div class="floatedL"> 

			</div> 
			<div class="floatedR"> 


			</div>	 
		</div> 
 

 
 




<br><br>

