<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
body p{
font-family: Verdana, Geneva, sans-serif;
}
-->
</style>
</head>

<body>
	<% email_content do %>
<p>Dear Administrator,</p>

<p>There's been a new complaint made for Order Number: <%= @note.order.identifier if @note.order %></p>

<p>Note:</p>
<p><%= @note.body %></p>

<p>You can login as the customer and view their complaints <%= link_to 'here', "http://www.myonlinecleaner.com/admin/accounts/" + @note.customer.account.id.to_s + "?redirect=" + customer_orders_path(@note.customer) %></p>
<p>
Thanks</p>
<p><%= @user.first_name %>&nbsp;<%= @user.last_name %></p>
<p>
<%= @user.email %></p>
<% end %>
</body>

</html>