<table class="pickup-delivery">
<thead>
	<tr>
		<% @start_date.upto(@start_date + 6) do |day| %>
		<th>
			<div class="day"><%= schedules[day].to_s("%a").upcase %></div>
			<div class="date"><%= schedules[day].to_s("%b %d") %></div>
    	</th>
		<% end %>
	</tr>
</thead>
<tbody>
	<% @windows.each_with_index do |window,i| %>
	<tr>
		<% @start_date.upto(@start_date + 6) do |day| %>
		<td>
			<% if schedules[day][i].nil? || schedules[day][i].negative? %>
				<div>&nbsp;</div>
			<% elsif @windows.to_a.last == window && !@order.customer.doorman_building? %>
				<div>&nbsp;</div>
			<% elsif !schedules[day][i].available_or_concords_with(@order.customer.primary_address) %>
				<div class="pickup-delivery-choice">
					<span class="slot-full">x</span>
					<% if @windows.to_a.last == window %>
						Doorman
					<% else %>
						<%= time_window(window) %>
					<% end %>
				</div>
			<% else %>
				<div class="pickup-delivery-choice <%= 'bg_green' if schedules[day][i].concords_with(@order.customer.primary_address)%>">
					<input <%= checked_window('pickup', @order, day, window.start.hour) %> type="radio" class="pickup_e" name="<%= pickup == true ? 'pickup' : 'delivery' %>" value="<%= day.to_s + '_' + i.to_s %>" onclick="changePickUpDelivery('<%= schedules[day].to_s('%Y-%m-%d')%>','<%= schedules[day].to_s('%A')%>', <%= window.start.hour %>, <%= window.end.hour+1.second %>, <%= pickup %>)" />
					<label> 
						<% if @windows.to_a.last == window %>
							Doorman
						<% else %>
							<%= time_window(window) %>
						<% end %>
					</label>
				</div>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>
</tbody>
</table>