<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta name="Keywords" content="dry cleaners, wash and fold, dry cleaner, dry cleaning, laundry, laundry service, laundry shop, shirt laundry, new york laundry, new york city laundry, ny laundry, dry cleaner new york, new york city dry cleaners, dry cleaning prices, dry cleaning nyc, best dry cleaners nyc, commercial laundry services, dry cleaners nyc" /><meta name="Description" content="My online cleaner is a company of principles – revolutionizing convenience, dedication to service, and commitment to quality. In addition we are committed to promoting ethical environmental & social responsibility within our culture. " /><meta name="Keyphrases" content="cleaners new york city, laundry cleaners, ny laundry service, eco friendly cleaning services, wash and fold laundry service, eco friendly cleaners, laundry delivery nyc" /><meta name="revisit-after" content="1 WEEK" /><meta name="robots" content="ALL" /><meta name="distribution" content="Global" /><meta name="company" content="MyOnLine Cleaner" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title><%= page_title %></title>
        <%= javascript_include_tag 'prototype', 'effects', 'controls', 'dragdrop', 'application', 'calendar', 'lightwindow', 'live_validation'  %>
        <%= stylesheet_link_tag 'default', 'staging', 'lightwindow', 'live_validation' %>
        
         <% if session[:user].blank?%>
           <!--[if IE]>
                <link rel="stylesheet" type="text/css" href="/stylesheets/ie_only.css" />
            <![endif]-->
        <% end %>
        <script type="text/javascript">
            <!--
            function MM_swapImgRestore(){ //v3.0
                var i, x, a = document.MM_sr;
                for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) 
                    x.src = x.oSrc;
            }
            
            function MM_preloadImages(){ //v3.0
                var d = document;
                if (d.images) {
                    if (!d.MM_p) 
                        d.MM_p = new Array();
                    var i, j = d.MM_p.length, a = MM_preloadImages.arguments;
                    for (i = 0; i < a.length; i++) 
                        if (a[i].indexOf("#") != 0) {
                            d.MM_p[j] = new Image;
                            d.MM_p[j++].src = a[i];
                        }
                }
            }
            
            function MM_findObj(n, d){ //v4.01
                var p, i, x;
                if (!d) 
                    d = document;
                if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                    d = parent.frames[n.substring(p + 1)].document;
                    n = n.substring(0, p);
                }
                if (!(x = d[n]) && d.all) 
                    x = d.all[n];
                for (i = 0; !x && i < d.forms.length; i++) 
                    x = d.forms[i][n];
                for (i = 0; !x && d.layers && i < d.layers.length; i++) 
                    x = MM_findObj(n, d.layers[i].document);
                if (!x && d.getElementById) 
                    x = d.getElementById(n);
                return x;
            }
            
            function MM_swapImage(){ //v3.0
                var i, j = 0, x, a = MM_swapImage.arguments;
                document.MM_sr = new Array;
                for (i = 0; i < (a.length - 2); i += 3) 
                    if ((x = MM_findObj(a[i])) != null) {
                        document.MM_sr[j++] = x;
                        if (!x.oSrc) 
                            x.oSrc = x.src;
                        x.src = a[i + 2];
                    }
            }
            
            //-->
        </script>
    </head>
    <body onload="MM_preloadImages('/images/header_links-Over_01.jpg','/images/header_links-Over_02.jpg','/images/header_links-Over_03.jpg','/images/header_links-Over_04.jpg','/images/header_links-Over_05.jpg','/images/header_links-Over_06.gif','/images/right_links2-Over_01.gif','/images/right_links2_02.gif','/images/right_links2-Over_03.gif')">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="1023">
            <tbody>
                <tr>
                    <td colspan="7">
                        <img src="/images/header_top.jpg" usemap="#Map" border="0" height="151" width="1023">
                    </td>
                </tr>
                <tr><td colspan="7"><div id="menu">
        <div id="settings-menu" style="text-align:center;float:none;text-transform:uppercase;">
            <%= '<span>' + link_to_unless_current_heirarchy("About Us", "/about", :title => "NYC's First Online Eco-Friendly Pick Up & Delivery Dry Cleaning Service!")  + '</span>'%>
            <%= '| <span>' + link_to_unless_current_heirarchy("How It Works", "/how_it_works", :title => "Its simple! Here's How It Works: (1) Create An Account (2) Schedule Pick Up & Delivery Service (3) Enjoy Convenience")  + '</span>'%>
            | <span><%= link_to_unless_current_heirarchy "Pickup & Delivery", "/pickup", :title => "Offering Ultra Convenient 2 Hour \"Fresh Direct\" Style Scheduling - Providing Dry Cleaning & Laundry In Over 24 NYC Zip Codes !" %></span>
            | <span><%= link_to "Prices", "/prices", :title => "Competitive Pricing For NYC's Most Convenient Dry Cleaning & Laundry Service!" %></span>
            | <span><%= link_to_unless_current_heirarchy "News", "/current_news", :title => "Voted Best In NYC By New York Magazine - Providing Dry Cleaning Service To NYC Professionals & Companies Since 2007!" %></span>
            | <span><%= link_to_unless_current_heirarchy "Eco-Points", "/eco_point", :title => "Think Of Eco-Points Like \"Airline Miles\" for Dry Cleaning & Laundry - Be Green & Earn Some Green!" %></span>
            | <span><%= link_to_unless_current_heirarchy "info|faqs", "/faq", :title => "Look Here For Frequently Asked Questions About My Fresh Shirt Dry Cleaning & Laundry Service!" %></span>
            | <span><%= link_to_unless_current_heirarchy "contact us", "/contact_us", :title => "Dry Cleaning & Laundry Customer Service Available 24/7/365" %></span>
        </div>
    </div><!--<a href="/about" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','/images/header_links-Over_01.jpg',1)"><img src="/images/header_links_01.jpg" name="Image2" id="Image2" border="0" height="27" width="246"></a><a href="/how_it_works" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','/images/header_links-Over_02.jpg',1)"><img src="/images/header_links_02.jpg" name="Image3" id="Image3" border="0" height="27" width="130"></a><a href="/pickup" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','/images/header_links-Over_03.jpg',1)"><img src="/images/header_links_03.jpg" name="Image4" id="Image4" border="0" height="27" width="160"></a><a href="javascript:load_window('/prices', 'Prices')" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','/images/header_links-Over_04.jpg',1)"><img src="/images/header_links_04.jpg" name="Image5" id="Image5" border="0" height="27" width="74"></a><a href="/faq" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','/images/header_links-Over_05.jpg',1)"><img src="/images/header_links_05.jpg" name="Image6" id="Image6" border="0" height="27" width="101"></a><a href="/contact_us" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','/images/header_links-Over_06.gif',1)"><img src="/images/header_links_06.gif" name="Image7" id="Image7" border="0" height="27" width="308"></a>!--></td></tr>
                <% if flash[:promotion_notice] %>
                  <tr>
                    <td colspan="7">
                      <div class="flash" style="width:1000px;">
                          <span class="notice"><%=flash[:promotion_notice]%></span>
                      </div>
                    </td>
                  </tr>
                <% end %>
                <% if flash[:promotion_error] %>
                  <tr>
                    <td colspan="7">
                      <div class="flash" style="width:1000px;">
                          <span class="notice"><%=flash[:promotion_error]%></span>
                      </div>
                    </td>
                  </tr>
                <% end %>
                <tr>
                <td colspan="7">
                    <table> <tr> 

                    <td style="padding:5px 5px 0px 0px; height:170px">
                        <img src="/images/embose-effect-images/embosed-shirts.jpg">
                    </td>
                    <td valign="top"></td>
                    <td style="padding:5px 5px 0px 0px; height:170px">
                        <img src="/images/embose-effect-images/girl-embosed.jpg" alt="">
                    </td>
                    <td valign="top">  </td>
                    <td style="padding:5px 5px 0px 0px; height:170px">
                        <img src="/images/embose-effect-images/banner-leaves.jpg">
                    </td>
                    <td valign="top"> </td>


					 
						<%= yield :layout %>
                    
					
					<td valign="top">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="1021">
            <tbody>
                <tr>
                    <td align="center">
                    	<% content = Content.find_by_id(1) %>
                        <span class="footer"><a href="/home">Home</a> | <a href="/about">About Us</a> | <a href="how_it_works">How It Works</a> | <a href="/pickup">Pick Up &amp; Delivery</a> | <a href="javascript:load_window('/prices', 'Prices')">Prices</a> | <a href="/faq">FAQ's</a> | <a href="/contact_us">Contact Us</a></span>
                        <br/>
                        <span class="secondary_copy">&copy; 2012 My Fresh Shirt. All Right Reserved.</span>
						                        <br/>
												                        <br/>
						<% if !content.nil? %>
						<span class="secondary_copy">
							<%= "Email: #{content.email}, " if !content.email.blank? %>
							<%= "Tel: #{content.phone}, " if !content.phone.blank? %>
							<%= "Address: #{content.address}" if !content.address.blank? %>
						</span>
						<% end %>
                    </td>
                </tr>
            </tbody>
        </table>
        <map name="Map" id="Map">
            <area shape="rect" coords="341,28,681,126" href="/home">
        </map>
    </body>
</html>
