<h1>Editing promotion_service</h1>

<%= error_messages_for :promotion_service %>

<% form_for(@promotion_service) do |f| %>
  <p>
    <b>Promotion</b><br />
    <%= f.text_field :promotion_id %>
  </p>

  <p>
    <b>Service</b><br />
    <%= f.text_field :service_id %>
  </p>

  <p>
    <b>Item type</b><br />
    <%= f.text_field :item_type_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @promotion_service %> |
<%= link_to 'Back', promotion_services_path %>
