<h1>New Promotion</h1>
<%= error_messages_for :promotion %>

<% form_for @promotion, :url => "promotions", :html => {:method => 'post'} do |f| %>
<table>
    <tr>
	<td><b>Code</b><br /></td>
	<td><%= f.text_field :code %></td>
    </tr>
    <tr>
        <td><b>TUT</b><br /></td>
	<td><%= f.text_field :times_usable %></td>
    </tr>
    <tr>
        <td><b>TUPU</b><br /></td>
	<td><%= f.text_field :times_usable_per_user %></td>
    </tr>
    <tr>
        <td><b>Expiry</b><br /></td>
	<td><%= f.date_select :expiry %></td>
    </tr>
        <td><b>Function</b><br /></td>
        <td><%= f.select :function , Promotion.available %></td>
    </tr>
    <tr>
      <td><b>Arguments</b><br /></td>
      <td><%= f.text_area :arguments, :rows => 4 %></td>
    </tr>
    <tr><td>&nbsp;</td>
        <td><%= f.submit "Create" %></td>
    </tr>
</table>
<% end %>
