<h1>Editing draft_company</h1>

<% form_for(@draft_company) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :founded %><br />
    <%= f.date_select :founded %>
  </p>
  <p>
    <%= f.label :employee_number %><br />
    <%= f.text_field :employee_number %>
  </p>
  <p>
    <%= f.label :market_segment %><br />
    <%= f.text_field :market_segment %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :private_notes %><br />
    <%= f.text_area :private_notes %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :draft_review %><br />
    <%= f.text_field :draft_review %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @draft_company %> |
<%= link_to 'Back', draft_companies_path %>