<% @item = Item.blank %>
<%= form_tag(nil, { :method => 'post', :id => "create_form", :autocomplete => "off", :onsubmit => "submitNew(); return false;" }) -%>
	    <p>Name:<br /> 
  	  	<%= text_field 'item', 'name', { :maxlength => 30, :size => 40 } -%>
  </p>
    <p>Price in cents:<br /> 
  	  	<%= text_field 'item', 'price_in_cents', { :maxlength => 11, :size => 16 } -%>
  </p>
    <p>Event:<br /> 
  	  	<%= text_field 'item', 'event_id', { :maxlength => 10, :size => 15 } -%>
  </p>
    <p>Description:<br /> 
  	  	<%= text_area 'item', 'description', { :rows => 20, :cols => 60 } -%>
  </p>
    <p>Active:<br /> 
  	  	<%= check_box 'item', 'active', {} -%>
  </p>
  	<div class="button-bar"><%= submit_tag "Create" -%></div>
<%= end_form_tag -%>