<% @image_set = ImageSet.blank %>
<%= form_tag(nil, { :method => 'post', :id => "create_form", :autocomplete => "off", :onsubmit => "submitNew(); return false;" }) -%>
	    <p>Obj type:<br /> 
  	  	<%= text_field 'image_set', 'obj_type', { :maxlength => 12, :size => 22 } -%>
  </p>
    <p>Obj:<br /> 
  	  	<%= text_field 'image_set', 'obj_id', { :maxlength => 10, :size => 15 } -%>
  </p>
    <p>Comments allowed:<br /> 
  	  	<%= check_box 'image_set', 'comments_allowed', {} -%>
  </p>
    <p>Image:<br /> 
  	  	<%= text_field 'image_set', 'image_id', { :maxlength => 10, :size => 15 } -%>
  </p>
    <p>Position:<br /> 
  	  	<%= text_field 'image_set', 'position', { :maxlength => 3, :size => 8 } -%>
  </p>
  	<div class="button-bar"><%= submit_tag "Create" -%></div>
<%= end_form_tag -%>