<% @flyer = Flyer.blank %>
<%= form_tag(nil, { :method => 'post', :id => "create_form", :autocomplete => "off", :onsubmit => "submitNew(); return false;" }) -%>
	    <p>Obj type:<br /> 
  	  	<%= text_field 'flyer', 'obj_type', { :maxlength => 12, :size => 22 } -%>
  </p>
    <p>Obj:<br /> 
  	  	<%= text_field 'flyer', 'obj_id', { :maxlength => 10, :size => 15 } -%>
  </p>
    <p>Days left:<br /> 
  	  	<%= text_field 'flyer', 'days_left', { :maxlength => 3, :size => 8 } -%>
  </p>
    <p>Image:<br /> 
  	  	<%= text_field 'flyer', 'image_id', { :maxlength => 10, :size => 15 } -%>
  </p>
    <p>Active:<br /> 
  	  	<%= check_box 'flyer', 'active', {} -%>
  </p>
  	<div class="button-bar"><%= submit_tag "Create" -%></div>
<%= end_form_tag -%>