<div id="primaryContent">
  <%= menu_for_admin(true) %>
  <h1>Reset Password</h1>
  <div id="instructions">Instructions: <p id="instructions_txt">Enter username or email.</p></div>
  <form action="<%= admin_url(:action => "reset_password") %>" method="get" accept-charset="utf-8" id="user_form">
    <p><input type="text" name="query" id="query" size="24"> <input type="submit" value="Find user"></p>
  </form>
  
  
  <div id="userList" style="display:none;">
  <% if @user.size > 0 %>
    <div>Instructions: <p id="instructions_txt">To select, click on an email.</p></div>
    <ul>
    <% @user.each do |u| %>
      <li class="user" title="<%= u.id %>"><%= u.username %> (<%= u.email %>)</li>
    <% end %>
    </ul>
  <% end %>
  </div>
  
  <div id="userDiv" style="display:none;">
      <% form_tag(admin_url(:action => "reset_password"), { :method => 'post', :id => "update_form", :autocomplete => "off" }) do -%>
        <h3 id="term"></h3>
        <p>New Password:<br /> 
        	<%= text_field 'u', 'password', { :maxlength => 12, :size => 30, :value=> "newpassword" } -%>
        </p>
        <p>Re-type Password:<br /> 
        	<%= text_field 'u', 'password_confirmation', { :maxlength => 12, :size => 30, :value=> "newpassword" } -%>
        </p>
        <%= hidden_field 'u', 'id' -%>
      	<div class="button-bar"><%= submit_tag "Update" -%></div>
      <% end -%>
  </div>
</div>


<script type="text/javascript" language="javascript">
// <![CDATA[
  $('query').focus();
  var query = location.search.toQueryParams();
  function fetchResultsFromServer() {
    new Ajax.CustomRequest($('user_form').action, {
  		postBody: Form.serialize('user_form'),
  		onSuccess: function(r){
  		  eval("results = " + r.responseText);
  			if (results.length > 0){
  			  //Clear old form
      	  Form.reset('update_form');
      	  $W("user_username_changed", "");
  			  if (results.length == 1){
  			    populate_form(results[0]);
  			  } else {
  			    $('party').hide();
  			    populate_results(results);
  			  }
  			} else {
  			  new Message("No parties found.");
  			  $('party').hide();
  			}
  		},
  		on400: function(r) { 
  			if (r.responseText.length > 0){ new Message(r.responseText); } 
  		}
  	});
  }
  
	Event.addBehavior({	  
	  "ul li.user:click" : function() {
	    $('userDiv').show();
	    $('userList').hide();
	    $('u_id').value = this.title;
	    $W("term", "Edit " + this.innerHTML);
	  },
  	"input#u_id" : function() {
  	  if (parseInt($F('u_id')) > 0){
  	    $('userDiv').show();
  	    $W("term", "Edit " + query.query);
  	  }
  	}
  });
  
  if ($$(".user").length == 1){
    $('u_id').value = $$(".user").first().title;
    $('userDiv').show();
  } else if ($$(".user").length > 1){
    $('userList').show();
  }
// ]]>
</script>