<h1>Editing message_tracker</h1>

<% form_for(@message_tracker) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email_tracker %><br />
    <%= f.text_field :email_tracker %>
  </p>
  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :answered %><br />
    <%= f.check_box :answered %>
  </p>
  <p>
    <%= f.label :url_key %><br />
    <%= f.text_field :url_key %>
  </p>
  <p>
    <%= f.label :send_success %><br />
    <%= f.check_box :send_success %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @message_tracker %> |
<%= link_to 'Back', message_trackers_path %>