<%= render :partial => '/admin/account_search' %>

<div class="view-menu">
	<span><strong>Administrator > Dashboard</strong></span>
</div>

<%= render :partial => '/admin/base/search' %>

<ul class="tabselector" id="tabcontrol1">
    <li class="tab-<%= params[:action] == 'index' ? 'selected' : 'unselected'%> ">
        <%= link_to_unless_current_heirarchy ("Current", "/admin") %>
    </li>
    <li class="tab-<%= params[:action] == 'pending' ? 'selected' : 'unselected'%> ">
        <%= link_to_unless_current_heirarchy ("Pending", "/admin/base/pending") %>
    </li>
	<li class="tab-<%= params[:action] == 'complete' ? 'selected' : 'unselected'%> ">
        <%= link_to_unless_current_heirarchy ("Complete", "/admin/base/complete") %>
    </li>
    <li class="tab-<%= params[:action] == 'cancelled' ? 'selected' : 'unselected'%> ">
        <%= link_to_unless_current_heirarchy ("Cancelled", "/admin/base/cancelled") %>
    </li>
    <li class="tab-<%= params[:action] == 'missed_pickup' ? 'selected' : 'unselected'%> ">
        <%= link_to_unless_current_heirarchy ("Missed PickUp", "/admin/base/missed_pickup") %>
    </li>
    <li class="tab-<%= params[:action] == 'missed_delivery' ? 'selected' : 'unselected'%> ">
        <%= link_to_unless_current_heirarchy ("Missed Delivery", "/admin/base/missed_delivery") %>
    </li>
    <li class="tab-<%= params[:action] == 'customer_notes' ? 'selected' : 'unselected'%> ">
        <%= link_to_unless_current_heirarchy ("Customer Notes", "/admin/base/customer_notes") %>
    </li>    
</ul>
<div class="panes" id="panecontrol1">
    <div class="pane-selected">
    	<%= render :partial => '/admin/base/orders', :locals => {:orders => @orders, :tab => @tab} %>
	</div>
</div>
<div class="view-menu" style="display:block;text-align:center;">
  <%= will_paginate @orders %>
</div>
