<ul class="tabselector" id="tabcontrol1">
    <li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("SITE WIDE", "/admin/content/site") %>
    </li>
    <li class="tab-selected">
        <%= link_to_unless_current_heirarchy ("HOME PAGE", "/admin/content/home") %>
    </li>
	<li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("NEWS", "/admin/content/news") %>
    </li>
        <li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("TICKERS", "/admin/content/tickers") %>
    </li>
	<li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("PROMOTIONS", "/admin/content/promotions") %>
    </li>
	<li class="tab-unselected">
        <%= link_to_unless_current_heirarchy ("MAIL & SMS TEMPLATES", "/admin/notification_templates") %>
    </li>
</ul>
<ul class="panes" id="panecontrol1">
    <li class="pane-selected">
        <%= error_messages_for :content %>
        <% form_for :content, :url => '/admin/content/update', :html => { :method => :put } do |f| %>
        
        <p>
            <b>Paragraph 1</b>
            <br/>
            <%= f.text_area :body, :rows => 5 %>
        </p>
       
       
     
        <p>
            <b>Paragraph 2</b>
            <br/>
            <%= f.text_area :sub_body, :rows => 10 %>
        </p>
        
        <p>
            <b>Paragraph 3</b>
            <br/>
            <%= f.text_area :sub_link_text, :rows => 5 %>
        </p>
        <p>
            <%= f.submit "Update" %>
        </p>
        <% end %>
    </li>
    <ul>
