<h1>Editing email_address</h1>

<% form_for(@email_address) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person %><br />
    <%= f.text_field :person %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @email_address %> |
<%= link_to 'Back', email_addresses_path %>